@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #111111;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}


.Lists{
  margin-top: -150px;
}

footer{
  color: #ffffff;
  text-align: center;
  margin: 50px 0;
}

.loading{
  position: fixed;
  left:0 ;
  right:0 ;
  top:0 ;
  bottom: 0;
  z-index: 99;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}